/* Copyright (C) 2020-2022 Aditya Shakya <adi1090x@gmail.com> */
/* Everyone is permitted to copy and distribute copies of this file under GNU-GPL3 */

* {
	border : 					#151515;
	background:				#151515;
	background-alt:		#1c1c1c;
  foreground:				#dfdfaf;
  foresel:        	#dfdfaf;
  yellow: 					#af875f;
  selected:					#252525;
	urgent:						#af5f5f;
	on:								#87A181;
	off:							#D88B9F;
}
